/* Modal */

.detalhesModal {
    padding: 10px;
}

.detalhesModal p {
    margin: 0;
    text-align: justify;
}

.detalhesModal h1 {
    line-height: 1.3;
    margin: 0;
}

.banner {
    height: 20px;
    background-color: var(--purple);
    margin-top: 10px;
}

.codigoStatus {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prioridade {
    font-size: 13px;
    color: var(--white);
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}

/* Prioridades */
.baixo {
    background-color: var(--green);
    border-left-color: var(--green) !important;
}
.medio {
    background-color: var(--yellow);
    border-left-color: var(--yellow) !important;
}
.alto {
    background-color: var(--orange);
    border-left-color: var(--orange) !important;
}
.critico {
    background-color: var(--red);
    border-left-color: var(--red) !important;
}
.planejado {
    background-color: var(--blueish-grey);
    border-left-color: var(--blueish-grey) !important;
}

.problema p, .solucao p {
    margin-bottom: 10px;
    font-size: 15px
}

/* Images anexadas */
.descricao {
    max-width: 700px;
    overflow-x: auto;
}
.info {
    display: flex;
    justify-content: space-between;
}

.avaliacao {
    color: var(--yellow);
    font-size: 20px;
}

.avaliacao:hover {
    color: #faac05;
}