section.caixaOperacao {
    background-color: var(--lighter-grey);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--darker-grey);
    padding: 15px;
    border-left: 7px solid #ffffff00;
    margin: 4px 5px 3px 10px;
}

.caixaOperacao p {
    margin: 0;
}

.status {
    display: flex;
    justify-content: space-between;
}

.servicoRealizado {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
}

.prioridade {
    font-size: 13px;
    color: var(--white);
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}

/* Prioridades */
.baixo {
    background-color: var(--green);
    border-left-color: var(--green) !important;
}
.medio {
    background-color: var(--yellow);
    border-left-color: var(--yellow) !important;
}
.alto {
    background-color: var(--orange);
    border-left-color: var(--orange) !important;
}
.critico {
    background-color: var(--red);
    border-left-color: var(--red) !important;
}
.planejado {
    background-color: var(--blueish-grey);
    border-left-color: var(--blueish-grey) !important;
}

.descricao {
    color: var(--darker-grey);
    margin-bottom: 25px;
}

.descricao h2 {
    margin: 1px 0 4px 0;
}

.descricao p {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%px;
    white-space: nowrap;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info .tecnico, .maquina, .cliente {
    text-transform: uppercase;
}

.info .infoDireita {
    text-align: right;
}

.avaliacao {
    font-size: 17px;
    color: var(--yellow);
}

section.caixaOperacao:hover {
    background-color: var(--lighter-grey-hover);
    cursor: pointer;
}