:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #e9e9f0;

  /* cores */
  --black: #1b181d;
  --darker-grey: #38343f;
  --white: #f5f1f1;
  --purple: #9e2dfa;
  --grey: #7c7880;
  --light-grey: #aea4b9;
  --lighter-grey: #dcdadd;
  --lighter-grey-hover: #d8d5da;
  --red: #d61e1e;
  --orange: #ff5507;
  --yellow: #da880d;
  --green: #298835;
  --blue: #3d7cf0;
  --blueish-grey: #85868b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}